<div class="well">
        <ul class="nav nav-list">
           
         <li class="dropdown">
                                        
                                             
 <li>    <a href="#"> Adaptateur secteur</a></li>
 <li>    <a href="#">Câble USB</a></li>
 <li>    <a href="#">Serveur d'impression </a></li>        
                                            
                               
               
         </li> <!-- end of /.dropdown -->   
         
  
                                        </ul>  <!-- end of /.dropdown-menu -->
                                        
             
                    
                </ul>
           
         
        </ul>
    </div>






