<div class="well">
        <ul class="nav nav-list">
           
         <li class="dropdown">
                                        
                                     
                                            
  <li>    <a href="#"> Tablettes Tactiles</a> </li>
                                                
 <li>  <a href="#">Tablettes Android</a></li>
                                                
  <li>  <a href="#">Tablettes Windows</a></li>
                                                 
  <li>  <a href="#">iPad</a></li>
                                                 
   <li>  <a href="#">  Accessoires Tablette  </a></li>
                                                

                                               
            
                                            
                                

                                           

                                   
               
         </li> <!-- end of /.dropdown -->   
         
  
       
 
                                    
                               
                                    
                           
                                            
                                            

                                        </ul>  <!-- end of /.dropdown-menu -->
                                        
                                       
                                        
                                                     
              
                    
                    
                </ul>
           
         
        </ul>
    </div>





