<div class="well">
        <ul class="nav nav-list">
           
         <li class="dropdown">
                                        
   

   <li>  <a href="#">  PC Portable </a> </li>
           
    <li>  <a href="#">  PC Portable Gamer </a> </li>
            
      <li>  <a href="#">   UltraBook </a> </li>
                 
     <li>  <a href="#">   NetBook </a> </li>

                                 
                             
               
         </li> <!-- end of /.dropdown -->   
         
                                   

                                        </ul>  <!-- end of /.dropdown-menu -->
                                        
                                       
                                        
                                                     
              
                    
                    
                </ul>
           
         
        </ul>
    </div>





       





