 <div class="well">
        <ul class="nav nav-list">
           
         <li class="dropdown">
                                        
                                     
                                            
<li>   <a href="#">Papier A3</a></li>
<li>   <a href="#">Papier Photo</a></li>
<li>   <a href="#">Papier Thermique</a></li>
<li>   <a href="#">Papier de Transfert</a></li>
<li>   <a href="#">Pochette de plastification</a></li>
<li>   <a href="#">Ruban</a></li>
<li>   <a href="#">Étiquette</a></li>
<li>   <a href="#">Enveloppe / Pochette </a></li>                                    
                                               
            
                                            
                                     

                                           

                                   
               
         </li> <!-- end of /.dropdown -->   
         
  
       
 
                                    
                               
                                    
                           
                                            
                                            

                                        </ul>  <!-- end of /.dropdown-menu -->
                                        
                                       
                                        
                                                     
              
                    
                    
                </ul>
           
         
        </ul>
    </div>





       














