<div class="well">
        <ul class="nav nav-list">
           
         <li class="dropdown">
                                        
                                     
                                            
 <li>  <a href="#">Afficheur Ecran</a> </li>
                                                
 <li>  <a href="#">Ventilateur</a></li>
                                                
 <li>  <a href="#">Processeur </a></li>
                                                 
 <li>  <a href="#">Barrettes Mémoire</a></li> 
 
 <li>  <a href="#">Carte Mère</a></li>
 
 <li>  <a href="#">Carte Graphique</a></li>
 
 <li>  <a href="#">Clavier PC Portable </a></li>
 
 <li>  <a href="#">Batterie PC Portable</a></li>
 
  <li>  <a href="#">Chargeur PC Portable</a></li>
  
 <li>  <a href="#">Bloc d'alimentation</a></li>

 <li>  <a href="#">Boîtier</a></li>

 <li>  <a href="#">Graveurs et Lecteurs</a></li>
 
  <li>  <a href="#">Carte Son  </a></li>


     
         </li> <!-- end of /.dropdown -->   
         
  
       
                                </ul>  <!-- end of /.dropdown-menu -->
                                        
                                       
                                        
                                                     
              
                    
                    
                </ul>
           
         
        </ul>
    </div>






