<div class="well">
        <ul class="nav nav-list">
           
         <li class="dropdown">
                                        
                                     
                                            
                                                <li>    <a href="#">Imprimante Et Multifonction Jet d'encre</a> </li>
                                                
                                                 <li>  <a href="#">Imprimante et Multifonction Laser</a></li>
                                                
                                                 <li>  <a href="#">Imprimante a réservoir intégré</a></li>
                                                 
                                                 <li>  <a href="#">Imprimante 3D</a></li>
                                                 
                                                 <li>  <a href="#">Imprimante Thermique</a></li>
                                                
                                                 <li>  <a href="#">Imprimante Matricielle</a></li>
                                               
                                                  <li> <a href="#">Imprimante Art Graphique</a></li>
                                            
                                     

                                           

                                   
               
         </li> <!-- end of /.dropdown -->   
         
  
       
 
                                    
                               
                                    
                           
                                            
                                            

                                        </ul>  <!-- end of /.dropdown-menu -->
                                        
                                       
                                        
                                                     
              
                    
                    
                </ul>
           
         
        </ul>
    </div>




