<div class="well">
        <ul class="nav nav-list">
           
         <li class="dropdown">
                                        
                                     
                                            

<li> <a href="#">Cisaille</a> </li>
 <li> <a href="#">Ecriture & Correction</a> </li>
 <li> <a href="#">Cahier & Feuille</a> </li>
 <li> <a href="#">Adhésifs & Agrafage</a> </li>
 <li> <a href="#">Calculatrice</a> </li>
 <li> <a href="#">Destructeur</a> </li>
 <li> <a href="#">Plastifieuse</a> </li>

                  

                                           

                                   
               
         </li> <!-- end of /.dropdown -->   
         
  
       
 
                                    
                               
                                    
                           
                                            
                                            

                                        </ul>  <!-- end of /.dropdown-menu -->
                                        
                                       
                                        
                                                     
              
                    
                    
                </ul>
           
         
        </ul>
    </div>


