<div class="well">
        <ul class="nav nav-list">
           
         <li class="dropdown">
                                        
 <li>  <a href="#"> Sacs Scolaires & Trousses</a> </li>
                                                
<li>  <a href="#">Sac à Dos Scolaire</a></li>
                                                
<li>  <a href="#">Sac à Goûter</a></li>
                                                 
<li>  <a href="#">Trousse</a></li>                                    
                                            
                                 
                                               
            
                                            
                                     

                                           

                                   
               
         </li> <!-- end of /.dropdown -->   
         
  
       
 
                                    
                               
                                    
                           
                                            
                                            

                                        </ul>  <!-- end of /.dropdown-menu -->
                                        
                                       
                                        
                                                     
              
                    
                    
                </ul>
           
         
        </ul>
    </div>





       





