<div class="well">
        <ul class="nav nav-list">
           
         <li class="dropdown">
                                        
                                     

  <li>    <a href="#">Porte Bloc </a> </li>
  <li>    <a href="#">Chemise Papiers </a> </li>
  <li>    <a href="#">Boîte d'archives </a> </li>
  <li>    <a href="#">Pochette </a> </li>
  <li>    <a href="#">Porte-Documents </a> </li>
  <li>    <a href="#">Corbeille À Courrier </a> </li>
  <li>    <a href="#">Porte Dépliant </a> </li>
  <li>    <a href="#">Bloc Tiroir   </a> </li>                        

                                           

                                   
               
         </li> <!-- end of /.dropdown -->   
         
  
       
                                      
                                            

                                        </ul>  <!-- end of /.dropdown-menu -->
                                        
                                       
                                        
                                                     
              
                    
                    
                </ul>
           
         
        </ul>
    </div>






