<div class="well">
        <ul class="nav nav-list">
           
         <li class="dropdown">
                                        
                                     
                                            
     <li> <a href="#"> Scanner à plat</a> </li>
                                                
    <li>  <a href="#">Scanner à défilement</a></li>
                                                
    <li>  <a href="#">Scanner De Document   </a></li>
                                                 
                                                
       

                  

                                           

                                   
               
         </li> <!-- end of /.dropdown -->   
         
  
       
 
                                    
                               
                                    
                           
                                            
                                            

                                        </ul>  <!-- end of /.dropdown-menu -->
                                        
                                       
                                        
                                                     
              
                    
                    
                </ul>
           
         
        </ul>
    </div>

