<div class="well">
        <ul class="nav nav-list">
           
         <li class="dropdown">
                                        
                                     
                                            
                                                <li>  <a href="#">Disque Dur Interne</a> </li>
                                                
                                                 <li>  <a href="{{ path('disquedurexterne_index') }}">Disque Dur Externe</a></li>
                                                
                                                 <li>  <a href="#">Disque Dur SSD</a></li>
                                                 
                                                 <li>  <a href="{{ path('cartememoire_index') }}">Carte Mémoire</a></li>
                                                 
                                                 <li>  <a href="#">Clé USB</a></li>
                                                
                                                 <li>  <a href="#">Lecteur de cartes</a></li>
                                                 
                                                 <li>  <a href="{{ path('cd_index') }}">CD & DVD</a></li>
                                                
                                                 <li>  <a href="#">Accessoires de Stockage </a></li>
                                               
            
                                            
      
                                           

                                   
               
         </li> <!-- end of /.dropdown -->   
         
  
       
 
                                    
                               
                                    
                           
                                            
                                            

                                        </ul>  <!-- end of /.dropdown-menu -->
                                        
                                       
                                        
                                                     
              
                    
                    
                </ul>
           
         
        </ul>
    </div>





