<div class="well">
        <ul class="nav nav-list">
           
         <li class="dropdown">
                                        
                                     
                                            
                                                <li>    <a href="#">Cartouche</a> </li>
                                                
                                                 <li>  <a href="#">Toner</a></li>
                                                
                                                 <li>  <a href="#">Kit De Cartouche Rechargeable</a></li>
                                                 
                                                 <li>  <a href="#">Ruban</a></li>
                                                 
                                                 <li>  <a href="#">Bouteille D'encre</a></li>
                                                
                                                 <li>  <a href="#">Papier</a></li>
                                               
            
                                            
                                     

                                           

                                   
               
         </li> <!-- end of /.dropdown -->   
         
  
       
 
                                    
                               
                                    
                           
                                            
                                            

                                        </ul>  <!-- end of /.dropdown-menu -->
                                        
                                       
                                        
                                                     
              
                    
                    
                </ul>
           
         
        </ul>
    </div>





