<div class="well">
        <ul class="nav nav-list">
           
         <li class="dropdown">
                                        
                                     


                  
<li> <a href="#">PC de Bureau </a> </li>
<li> <a href="#">Ordinateur Gamer </a> </li>
<li> <a href="#">PC Tout en un </a> </li>
<li> <a href="#">Ecran </a> </li>
<li> <a href="#">iMac </a> </li>
                                           

                                   
               
         </li> <!-- end of /.dropdown -->   
         
  
       
 
                                    
                               
                                    
                           
                                            
                                            

                                        </ul>  <!-- end of /.dropdown-menu -->
                                        
                                       
                                        
                                                     
              
                    
                    
                </ul>
           
         
        </ul>
    </div>


