{% extends '::layout/layoutAdmin.html.twig' %}

{% block body %}
    <h1>Ajout Stockentree </h1>

    {{ form_start(form) }}
        {{ form_widget(form) }}
        <input type="submit" value="Ajouter" />
    {{ form_end(form) }}

    <ul>
        <li>
            <a href="{{ path('stockentree_index') }}">Back to the list</a>
        </li>
    </ul>
{% endblock %}
